[submodule "OpenTabletDriver-0.5.x"]
	path = .modules/OpenTabletDriver-0.5.x
	url = https://github.com/OpenTabletDriver/OpenTabletDriver
[submodule "OpenTabletDriver-0.6.x"]
	path = .modules/OpenTabletDriver-0.6.x
	url = https://github.com/OpenTabletDriver/OpenTabletDriver
[submodule ".modules/OpenTabletDriver.External"]
	path = .modules/OpenTabletDriver.External
	url = https://github.com/Mrcubix/OpenTabletDriver.External.git
